@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Previne a rolagem desnecessária */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #e2e2e2;
}

p {
    color: #e2e2e2;
}

a {
    text-decoration: none;
}

button,
input,
textarea,
a {
    border: 0;
    outline: none;
}

 .button {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.header-class, 
.header-class * { 
  font-family: 'Yanone Kaffeesatz', sans-serif !important; 
}

body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}



/* -------GUIA------ */
/* FONTES:
AVERTA - SENAI 
Yanone Kaffeesatz - NavBar 
Open - Sans - Textos Diversos */

/* CORES:
Cinza Firjan: #393230
Azul Firjan: #003bd1
Azul Senai: #83c7e5 
cinza claro Firjan: #d9d9d6*/