@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Yanone+Kaffeesatz:wght@200..700&display=swap");

.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 90%;
  background-color: white;
}

.header{
  padding: 70px;
  margin-top: -110px;
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
}

.button {
  background-color: #83c7e5;
  color: #fff;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  height: 40px;
  width: 130px;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.button:hover {
  color:   #393230;
}

.logoContainer{
  display: flex;
}

.logo{
   height: 68px;
    width: 60px;
}

.logo:hover {
  transform: scale(1.1);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1000;  */
}

.modalContent {
  /* background: linear-gradient(to top, #181717, #5e5e5e); */
  background-color: rgba(131, 199, 229, 0.7);
  border-radius: 8px;
  width: 800px; 
  height: 500px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(39, 39, 39, 0.2); 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 16px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.closeButton i{
 color: #393230;
}

.closeButton i:hover{
  transform: scale(1.1);
  color:  #ffffff;
}


.form{
display: flex;
flex-direction: column;
width: 600px;
padding: 8px 0;
gap: 20px;
align-items: center;
justify-content: center;
}

.form h1{
  color: #ffffff;
  font-size: 40px;
}

.formContent { 
  display: flex; 
  flex-direction: column; 
  width: 100%; 
  gap: 10px; }


.form label{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;

}

input, textarea{
     background-color:#b7dae9 ;
    border-radius: 20px;
    width: 100%; 
    padding: 8px;
}

.submitButton {
  background-color:#696e6f;
  color: #d9d9d6;
  border: none;
  width: 160px;
  height: 35px;
  font-size: 16px;
  border-radius: 20px;
  margin: 0 auto;
  cursor: pointer;
}

.submitButton:hover{
   transform: scale(1.1);
   box-shadow: 0px 4px 8px rgba(53, 53, 53, 0.3);
}
