*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: center;
    align-items: center;
    background-color: #000;
}

.header p{
background-color: black;
}