@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    padding-top: 20px;
    
}

.div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to top, #2f2f30, #5e5e5e);
    color: whitesmoke;
    width: 50%;
    height: 90%;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    
}

.div a:hover{
    color: #83c7e5;
}

.div a{
    font-size: 23px;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;

}